* {
    box-sizing: border-box;
}

html{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Poppins;
    font-weight: 400;
    background: url('../Imagenes/background-img.jpg');

    /*estas dos lineas me centran la imagen y acomoda el tamaño*/
    background-position: center;
    background-size: cover;

}

nav{
    padding: 8px;

    ul {
        float: right;

        li {
            display: inline-block;
            float: left;

            a {
                display: inline-block; //no hizo nada
                outline: none;  //no hizo nada
                color: #000;
                text-transform: uppercase;
                text-decoration: none;
                font-size: 14px;
                letter-spacing: 1.2px;
                font-weight: 600;
            }
        }

        li:not(:first-child){
            margin-left: 48px;
        }

        li:last-child {
            margin-right: 24px;
        }
    }
}

.logo {
    float: left;
    padding: 8px;
    margin-left: 16px;
    margin-top: 8px;

    a {
        color: #000;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0px;
        text-decoration: none;
    }
}

@media screen and (max-width: 864px){
    .logo {
        padding: 0;
    }

    .nav-wrapper{
        position: fixed;
        top: 0;//esto lo posiciona arriba "top"
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1; //esconde el menu, lo psosiciona fuera del rango de vista
        background: #fff;
        opacity: 0;
        transition: all 0.2s ease;

        ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;

            li {
                    display: block;
                    float: none;
                    width: 100%;
                    text-align: right;
                    margin-bottom: 10px;  
        
            }

            
            li:nth-child(1) a {
                transition-delay: 0.2s;
            }
            li:nth-child(2) a {
                transition-delay: 0.3s;
            }
            li:nth-child(3) a {
                transition-delay: 0.4s;
            }
            li:nth-child(4) a {
                transition-delay: 0.5s;
            }

            li:not(:first-child) a {
                margin-left: 0;
            }
        }
    }


    /*Aeveriguar por que esto no se apñica dentro de la anidacion
    **Lo tuve que sacar para que los cambios se apliquen,
    **sino me quedaba fuera de margen el menu responsive
    */
    .nav-wrapper ul li:not(:first-child) {
        margin-left: 0;
    }

  .nav-wrapper ul li a {
        padding: 10px 24px;
        opacity: 0;
        color: #000;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
        transform: translateX(-20px);
        transition: all 0.2s ease;
  }

  .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;
  }

  .nav-btn i {
        display: block;
        width: 20px;
        height: 2px;
        background: #000;
        border-radius: 2px;
        margin-left: 14px;
  }

  .nav-btn i:nth-child(1) {
        margin-top: 16px;
  }

  .nav-btn i:nth-child(2) {
        margin-top: 4px;
        opacity: 1;
  }

  .nav-btn i:nth-child(3) {
        margin-top: 4px;
  }
    
    .nav-btn {
        position: fixed;
        right: 10px;
        top: 10px;
        display: block;
        width: 48px;
        height: 48px;
        cursor: pointer;
        z-index: 9999;
        border-radius: 50%;

        i {
            display: block;
            width: 20px;
            height: 2px;
            background: #000;
            border-radius: 2px;
            margin-left: 14px;
        }

        i:nth-child(1) {
            margin-top: 16px;
        }

        i:nth-child(2) {
            margin-top: 4px;
            opacity: 1;
        }

        i:nth-child(3) {
            margin-top: 4px;
         }

    }  
}

#nav:checked + .nav-btn {
    transform: rotate(45deg);
}

#nav:checked + .nav-btn i {
    background: #000;
    transition: transform 0.2s ease;
}

#nav:checked + .nav-btn i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
}

#nav:checked + .nav-btn i:nth-child(2) {
    opacity: 0;
}

#nav:checked + .nav-btn i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
}

#nav:checked ~ .nav-wrapper {
    z-index: 9990;
    opacity: 1;
}

#nav:checked ~ .nav-wrapper ul li a {
    opacity: 1;
    transform: translateX(0);
}

.hidden {
    display: none;
}