html{
    height: 100%; //nose lo que hace, xq no hace ningun cambio
}

body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;   //nose lo que hace, xq no hace ningun cambio


    //esto es para NavegacionM2
    background: url('../Imagenes/4.jpg');
    background-attachment: fixed;
}

.toolbar{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background: #521751;
    height: 56px;
}
.toolbar__navigation{
    display: flex; //Esto me posiciona los items al lado del logo
    align-items: center;
    padding: 1rem 1rem; //posicionamiento de la barra de navegacion
}

.toolbar__logo{
    margin-left: 1rem; //Esto me separa la hamburguesa del "nombre del Logo"
}
.toolbar__logo a {
    color:white;
    text-decoration: none;
    font-size: 1.5rem;
}

.toolbar_navigation-items ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.toolbar_navigation-items li {
    padding: 0 1rem
}

@media (max-width: 768px){
    .toolbar_navigation-items{
        display: none;
    }
}

@media (min-width: 769px){
    .toolbar__toggle-button {
        display: none;
    }
    .toolbar__logo{
        margin-left: 0;
    }
}


.toolbar_navigation-items a:hover,
.toolbar_navigation-items a:active {
    color: yellowgreen;
}

.spacer{
    flex: 1;
}


//Estilos para el DrawerToggleButton
.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
}

.toggle-button:focus {
    outline: none;
}

.toggle-button__line {
    width: 30px;
    height: 2px;
    background: white;

}

//Estilos Side-Drawer

.side-drawer {
    height: 100%;
    background: white;
    box-shadow: 1px 0px 7px rgba(0, 0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px; //me hace el despliegue del nav mas compacto
    z-index: 200;

    //Para que se deslice y parazca mas lindo al desplegarse el meni hamburguesa
    transform: translateX(-100%);       
    transition: transform 0.3s ease-out;
}

.side-drawer.open {
    //Para que se deslice y parazca mas lindo al desplegarse el meni hamburguesa
    transform: translateX(0)
}

.side-drawer ul{
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column; //me posiciona los li en columnas
   justify-content: center;
}

.side-drawer li {
    margin: 0.5rem 0;
}

.side-drawer a {
    color: #521751;
    text-decoration: none;
    font-size: 1.2rem
}
.side-drawer a:hover,
.side-drawer a:active{
    color: #fa923f;
}

@media (min-width: 769px){
    .side-drawer{
        display: none;
    }
}

//Estilos Backdrop

.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;     //nose que hace
    left: 0;       //nose que haces
    background: rgba(0,0,0,0.5);
    z-index: 100;
}