.divPrueba1 {
	background: rgba(115, 231, 115, 0.87);
	padding: 0;
	border: 10px 10px solid;
	margin: 30px 50px;

	
}

.container-secundario{
	p {
		background: greenyellow;
	}

	ul{
		list-style: none;
	}
}